* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body {
    min-height: 100vh;
    background: linear-gradient(-135deg, rgb(39, 28, 243), #ec2f12);
    display: flex;
    align-items: center;
    justify-content: center;/*real center*/
}
 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 2em;
    padding: 4em 3em;
    position: relative;
}

.title {
    font-size: 3em;
}

.describe1 {
    font-size: 30px;
    font-weight: 20;
    color: black;
}

hr {
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
    margin-top: -10px;
}

.timer-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.timer {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

svg {
    transform: rotate(270deg);
}

.circle-background {
    fill: none;
    stroke: #444;
    stroke-width: 8;
}

.circle-progress {
    fill: none;
    stroke: #ffb36b;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 282.74;
    stroke-dashoffset: 282.74;
    transition: stroke-dashoffset 0.5s linear;
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-5px);
}

#start { background-color: rgb(139, 209, 35); }
#stop { background-color: rgb(246, 25, 25); }
#reset { background-color: rgb(24, 137, 242); }